/AspectJinit/nbproject/private/
/Testaop/nbproject/private/
/Testaop/build/
/Testaop/dist/
/JavaApplication11/nbproject/private/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/JavaApplication12/dist/
/AspectJPluginForNB/nbproject/private/
/AspectJPluginNB/nbproject/private/
/AspectJPluginNB/build/
/AspectJPluginNB/org.aspectj.tools.adje.netbeans/nbproject/private/
/AspectJPluginNB/org.aspectj.tools.ajde.netbeans/nbproject/private/
/AspectJPluginNB/org.aspectj.tools.ajde.netbeans/build/
/AspectJPluginNB/ramos.aspectjfornetbeansmodule/nbproject/private/
/AspectJPluginNB/AspectJPluginNBFileManager/build/
/AspectJPluginNB/AspectJPluginNBFileManager/nbproject/private/
/AspectJPluginNB/NetBeansAspectJActions/nbproject/private/
/AspectJPluginNB/NetBeansAspectJFileManager/nbproject/private/
/AspectJPluginNB/NetBeansAspectJActions/build/
/AspectJPluginNB/NetBeansAspectJFileManager/build/
/AspectJPluginNB/NetBeansAspectJBuildManager/build/
/AspectJPluginNB/NetBeansAspectJBuildManager/nbproject/private/
/AspectJPluginNB/NetBeansAspectJRelationshipManager/nbproject/private/
/AspectJPluginNB/NetBeansAspectJRelationshipManager/build/
/nbproject/private/